.img-error {
    background: url(/assets/images/error.png) no-repeat center;
    width: 740px;
    height: 46px;
    display: block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.div-error {
    text-align: center;
    margin-top: 180px;
}

.div-error h1 {
    font-size: 16px;
}

.div-error span {
    font-size: 12px;
}

.btn-margin {
      margin-left: 305px;
      margin-top: 15px;
}

.content-div {
    background: #fff;
    border-top: 4px solid #ec7404;
    border-bottom: 4px solid #ec7404;
    height: 530px;
}

@media screen and (max-width: 739px) {
    .img-error {
        width: 100%;
    }
    .div-error {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -70px;
    }
    .content-div {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
    }
}
