.icon-payment {
	background: url("../../../images/icons-payment-status.png") no-repeat;
	margin-bottom: 20px;
	padding-left: 70px;
	height: 60px;
	padding: 15px 0 15px 80px;
}

.payment-approved {
	background-position: 10px 3px;
}

.payment-analysis {
	background-position: 10px -72px;
}

.payment-not-approved {
	background-position: 10px -157px;
}

.title-msg {
	display: block;
	font-weight: bold;
	margin: 0 0 5px;
}

.sub-title-msg {
	font-size: 12px;
}
.sub-title-msg a {
	color: #FF7800;
}
.register {
	position: relative;
}

.register h2 {
	margin-bottom: 15px;
}

.register ul{
	margin-top: 10px;
	padding-left: 15px;
}
.register li {
	list-style: initial;
	font-size: 12px;
	margin-bottom: 10px;
}
.register .field-large {
	width: 90%;
}
div.checkbox {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	width: 360px;
}
.checkbox-toggle {
	float: left;
	width: 300px;
}
.receipt {
	background-color: #f7f7f7;
	padding: 14px 14px 14px 14px;
	min-height: 380px;
	box-shadow: 0px 0px 5px #ADADAD;
    margin-top: 10px;
    position: relative;
}
.receipt:before {
    content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 281px;
  height: 12px;
  background: linear-gradient( 45deg, transparent 33.333%, #000000 33.333%, #FFFFFF 66.667%, transparent 66.667% ), linear-gradient( -45deg, transparent 33.333%, #020202 33.333%, #FFF 66.667%, transparent 66.667% );
  background-size: 7px 39px;
  left: 0;
}
.box-register {
    padding: 0 0 16px 0;
    margin-top: 20px;
}
.box-register,
.box-field {
    border-color: #f1f1f1;
}
.check-confirmation {
	margin-top: 0!important;
}
.terms-wrap {
	width: 100%;
	height: 530px;
	background-color: #fff;
	position: absolute;
	z-index: 9999;
	top: 0;
	padding: 60px 30px 30px;
}
.terms-content {
	height: 450px;
	overflow: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}
.terms-content h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
}
.btn-close-terms {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #FF7800;
	border: none;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.link-terms {
	text-decoration: underline;
	cursor: pointer;
}
