a
{
	font-size: 12px;
	text-decoration: underline;
	cursor: auto;
}

a:link,
a:visited
{
	color: #000000;
}

a.checkout-link
{
	position:relative;
	margin-bottom:16px;
	width: 100%;
	display: block;
	text-decoration: none;
}

.checkout-link p
{
	position: absolute;
	top: 0px;
	right: 0px;
	text-decoration: underline;
}

.link-home
{
	padding-left: 29px;
}