/***
* Buttons:
*/

/**
 * Button:
 * `.btn-default` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     a.btn.btn-default Link
 *     button.btn.btn-default Button
 *     input.btn.btn-default(type='button' value="Input")
 *     input.btn.btn-default(type='submit')
 *
 */

 .btn-default {
  /* ... */
}

/**
 * Button Secundary:
 * `.btn-secundary` - documentation
 *
 *
 *     @example
 *     a.btn.btn-secundary Link
 *     button.btn.btn-secundary Button
 *     input.btn.btn-secundary(type='button' value="Input")
 *     input.btn.btn-secundary(type='submit')
 *
 */

 .btn-secundary {
  /* ... */
}

/**
 * Button Disabled:
 * `.btn-disabled` - documentation
 *
 *
 *     @example
 *     a.btn.btn-disabled Link
 *     button.btn.btn-disabled Button
 *     input.btn.btn-disabled(type='button' value="Input")
 *     input.btn.btn-disabled(type='submit')
 *
 */

 .btn-disabled {
  /* ... */
}
