/***
* Fields:
*/

/**
 * Fields:
 * `.input-default` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset
 *       input(type='text')
 *       label.field-label Text
 *     fieldset
 *       input(type='password')
 *       label.field-label Password
 */

 .input-default {
  /* ... */
}

/**
 * Fields Erro:
 * `.field-error` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset
 *       input.field-error(type='text')
 *       label.field-label Text
 */

.field-error {
  /* ... */
}

/**
 * Fields Sucesso:
 * `.field-success` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset
 *       input.field-success(type='text')
 *       label.field-label Text
 */

.field-success {
  /* ... */
}

/***
* Checkbox:
*/

/**
 * Checkbox:
 * `.checkbox` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     div.checkbox-checker
 *       div.checkbox-checker-wrap
 *         input(type='checkbox')#ckb-checker.ckb-checker-input
 *         label(for="ckb-checker")
 *           i.icon-ok
 *         span.checkbox-checker-text exemplo de checkbox
 */

 .checkbox {
  /* ... */
}

/**
 * Checkbox Toggle:
 * `.checkbox-toggle` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     div.checkbox-toggle
 *       div.checkbox-toggle-wrap
 *         input(type='checkbox')#ckb-toggle.ckb-toggle-input
 *         label(for="ckb-toggle")
 *         span.checkbox-toggle-text exemplo de checkbox
 */

 .checkbox {
  /* ... */
}
