/***
* Fields:
*/

/**
 * Fields:
 * `.input-default` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset
 *       input(type='text')
 *       label.field-label Text
 *     fieldset
 *       input(type='password')
 *       label.field-label Password
 */

 .input-default {
  /* ... */
}

/**
 * Fields Erro:
 * `.field-error` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset
 *       input.field-error(type='text')
 *       label.field-label Text
 */

.field-error {
  /* ... */
}

/**
 * Fields Sucesso:
 * `.field-success` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset
 *       input.field-success(type='text')
 *       label.field-label Text
 */

.field-success {
  /* ... */
}

/***
* Checkbox:
*/

/**
 * Checkbox:
 * `.input-default` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     fieldset.checkbox-group
 *       input.input-checkbox(type='checkbox')
 *       label.checkbox-label(for="checkbox")
 */

 .input-default {
  /* ... */
}
