<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Itau-box</title>
	<link rel="stylesheet" href="../../../css/reset.css">
	<link rel="stylesheet" href="../../base.css">
	<link rel="stylesheet" href="../../elements/titles/titles.css">
	<link rel="stylesheet" href="../../elements\buttons\buttons.css">
	<link rel="stylesheet" href="itau-box.css">
</head>
<body >	
	<div class="div-box">
		<span class="img-itau"></span>
		<div class="div-left">
			<h1>comprar online ficou mais</h1>
			<h1>fácil e seguro</h1>			
			<p>Utilize seu Itaucard e complete o seu</p>
			<p>pagamento em poucos passos.</p>
		</div>
		<div class="row left">
			<input type="button" class="btn-secondary btn-top" value="utilizar outro cartão" />
		</div>
		<div class="row left btn-top btn-left">
			<input type="button" class="btn-primary" value="pagar rápido com Itaucard" />
		</div>
	</div>
</body>
</html>
