.label-animation ~ label  {
    transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform: translate3d(0px, -16px, 0) scale(0.75);
    -ms-transform: translate3d(0px, -16px, 0) scale(0.75);
    -webkit-transform: translate3d(0px, -16px, 0) scale(0.75);
    -moz-transform: translate3d(0px, -16px, 0) scale(0.75);
    color: #000000!important;
}


input[type="text"] ~ label,
input[type="password"] ~ label {
    font-family: Arial;
    position: absolute;
    top: 30px;
    left: 0px;
    pointer-events: none;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #B9B8B8;
    font-size: 14px;
    z-index: 1;
}

/* IE */
.lte-ie9 input[type="text"] ~ label,
.lte-ie9 input[type="password"] ~ label,
.lt-ie9 input[type="text"] ~ label,
.lt-ie9 input[type="password"] ~ label {
    font-size: 10px;
    color: #222222;
    top: 14px;
}
.lte-ie9 input[type="text"]:focus ~ label,
.lte-ie9 input[type="password"]:focus ~ label,
.lt-ie9 input[type="text"]:focus ~ label,
.lt-ie9 input[type="password"]:focus ~ label {
    font-size: 10px;
    color: #222222;
    top: 14px;
}

.lt-ie9 .field label {
    font-size: 10px;
    color: #222222;
    top: 14px;
}

.icon {
    position: absolute;
    top: 30px;
    left: -32px;
    width: 28px;
}

.icon-phone {
    left: -24px;
}

.field-small {
    width: 58px;
}

.field-medium {
    width: 132px;
}

.field-large {
    width: 266px;
}

@media screen and (max-width: 739px) {
    .address-number {
        float: left;
        width: 20%;
    }

    .address-complement {
        float: right;
        width: 50%;
        margin-left: 10%!important;
    }

    .address-city {
        float: left;
        width: 50%;
    }

    .address-uf {
        float: right;
        width: 20%;
        margin-left: 10%!important;
    }

    .card-validthru {
        float: left;
        width: 40%;
    }

    .card-cvv {
        float: right;
        width: 30%;
        margin-left: 10%!important;
    }
}

