<!DOCTYPE html>
<html>
    <head>
        <title>field</title>
        <link rel="stylesheet" type="text/css" href="../../base.css">
        <link rel="stylesheet" type="text/css" href="../../reset.css">
        <link rel="stylesheet" type="text/css" href="../../elements/fields/fields.css">
        <link rel="stylesheet" type="text/css" href="../../elements/icons/icons.css">
        <link rel="stylesheet" type="text/css" href="field.css">
        <script src="/scripts/lib/ie/modernizr.min.js"></script>
    </head>
    <body>
        <div class="row field">
            <i class="icon icon-cpf"></i>
            <input type="text" required>
            <label class="foo">default</label>
        </div>

        <div class="row field">
            <i class="icon icon-cpf"></i>
            <input type="text" class="field-success" required>
            <label>success</label>
        </div>

        <div class="row field">
            <i class="icon icon-cpf"></i>
            <input type="text" class="field-error" required>
            <label>error</label>
        </div>


        <div class="row field">
            <i class="icon icon-cpf"></i>
            <input type="text" class="field-error" readonly required>
            <label>readonly</label>
        </div>

        <div class="row field">
            <i class="icon icon-cpf"></i>
            <input type="text">
            <label>optional</label>
        </div>
    </body>
</html>
