<!DOCTYPE html>
<html lang="en" ng-app="listPhone">
<head>
	<meta charset="UTF-8">
	<title>Lista telefonica</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
		.box {
			width: 350px;
			border: 1px solid #ccc;
			border-radius: 10px;
			margin: 0 auto;
			padding: 10px;
		}
	</style>
	<script src="js/angular.js"></script>
	<script>
		angular.module('listPhone', []);
		angular.module('listPhone').controller('listPhoneCtrl', function ($scope) {
			$scope.app = 'Lista Telefonica';
			$scope.contatos = [
				{nome: "Daniel", telefone: "999999999"},
				{nome: "Matheus", telefone: "888888888"},
				{nome: "Diogo", telefone: "777777777"}
			];
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(contato);
				delete $scope.contatos;
			}
		});
	</script>
</head>
<body ng-controller="listPhoneCtrl">
	<div class="jumbotron box">
		<h3>{{app}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
			<tr ng-repeat="contato in contatos">
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
			</tr>
		</table>
		<div>
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
			<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">adicionar contato</button>
		</div>
	</div>
</body>
</html>
