footer
{
    margin: 24px;
    display: none;
}

footer > .left
{
    float: left;
}

footer > .right
{
    float: right;
}
.txt-logout {
    float: right;
}
.back-merchant {
    float: left;
    position: relative;
    cursor:pointer;
}
@media screen and (max-width: 739px) {
    .back-merchant {
        margin-bottom: 20px;
    }
    footer {
        display: block;
    }
}
