<!DOCTYPE html>
<html>
	<head>
		<title>paleta cromática</title>
		<link rel="stylesheet" type="text/css" href="colors.css">
		<style type="text/css">
			.clear
			{
				clear: both;
			}
		</style>
	</head>
	<body>
		<h3>Cores</h3>
		<ul>
			<li>
				<span class="li-box" style="background: #FF7800;"></span>
				<p class="li-label">#FF7800</p>
			</li>
			<li>
				<span class="li-box" style="background: #FFC807;"></span>
				<p class="li-label">#FFC807</p>
			</li>
			<li>
				<span class="li-box" style="background: #E6B00F;"></span>
				<p class="li-label">#E6B00F</p>
			</li>
			<li>
				<span class="li-box" style="background: #11BACC;"></span>
				<p class="li-label">#11BACC</p>
			</li>
			<li>
				<span class="li-box" style="background: #1BBC9D;"></span>
				<p class="li-label">#1BBC9D</p>
			</li>
			<li>
				<span class="li-box" style="background: #F34235;"></span>
				<p class="li-label">#F34235</p>
			</li>
			<div class="clear"></div>
		</ul>
		

		<ul>
			<li>
				<span class="li-box li-box-border" style="background: #FFFFFF;"></span>
				<p class="li-label">#FFFFFF</p>
			</li>
			<li>
				<span class="li-box li-box-border" style="background: #FAFAFA;"></span>
				<p class="li-label">#FAFAFA</p>
			</li>
			<li>
				<span class="li-box li-box-border" style="background: #F1F1F1;"></span>
				<p class="li-label">#F1F1F1</p>
			</li>
			<li>
				<span class="li-box" style="background: #DDDDDD;"></span>
				<p class="li-label">#DDDDDD</p>
			</li>
			<li>
				<span class="li-box" style="background: #B9B8B8;"></span>
				<p class="li-label">#B9B8B8</p>
			</li>
			<li>
				<span class="li-box" style="background: #575758;"></span>
				<p class="li-label">#575758</p>
			</li>
			<li>
				<span class="li-box" style="background: #222222;"></span>
				<p class="li-label">#222222</p>
			</li>
			<li>
				<span class="li-box" style="background: #000000;"></span>
				<p class="li-label">#000000</p>
			</li>
		</ul>
	</body>
</html>