.img-itau {
    background: url(/assets/images/itau.png);
    width: 51px;
    height: 51px;
    display: block;
    position: absolute;
}

.img-hipercard {
    background: url(/assets/images/hipercard-logo.png) no-repeat;
    width: 85px;
    height: 40px;
    display: block;
    position: absolute;
}

.div-box h1 {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.div-box {
    height: 190px;
      width: 370px;
      padding-top:15px;
      padding-left: 15px;
      box-shadow: 0px 0px 5px #ADADAD;
}

.itau-box {
    background: #FF7800;
}
.hipercard-box {
    background: #e30513;
}

.div-box h1:first-child {
    margin-bottom: 5px;
}

.div-box p {
    color: white;
    /*margin-bottom: 3px;*/
}

.itau-box .div-left {
    margin-left: 80px;
}

.hipercard-box .div-left {
    margin-left: 97px;
}

.btn-left {
    margin-left: 10px;
}
.box-authentication {
    padding: 30px 20px;
    margin-top: 25px;
    height: 180px;
}

.box-authentication .div-left h1 {
    margin-bottom: 15px!important;
}
.itau-input {
    background: rgb(255, 188, 128) url(/assets/images/icon-pwd-itau.png) no-repeat 10px;
    border-bottom: none!important;
    padding: 10px 10px 10px 35px!important;
    margin-top: 20px;
}
.hipercard-input {
    background-color: #f18289;
    border-bottom: none!important;
    padding: 10px 10px 10px 35px!important;
    margin-top: 20px;
}
.itau-btn {
    width: 120px!important;
}
fieldset {
    position: relative;
}
.icon-lock-hiper.icon-lock {
    position: absolute;
    top: 31px;
    left: 15px;
    color: #000;
}

/*CARD BLOCK*/
.card-block .inner-wrap {
    min-height: 260px;
}
/*.card-block .overflow-wrapper {
    height: 260px;
}*/

.card-block .arrow {
    top: 12%;
}
.card-block .pagination-wrap {
    position: absolute;
    top: 140px;
    z-index: 10;
}
.carousel-card .box-authentication {
    margin-top: 40px;
    padding: 10px 15px;
    width: 360px;
    position: absolute;
    left: 10px;
    top: 100px;
    height: 115px;
}
.carousel-card .box-authentication .itau-input {
    margin-top: 10px;
}

/******************************************
* MOBILE CSS
*******************************************/

@media screen and (max-width: 739px) {
    .div-box.itau-box {
        width: 100%;
        height: 165px;
        padding: 18px 24px;
    }
    .div-box.hipercard-box {
        width: 100%;
        height: 184px;
        padding: 18px 24px;
    }
    .div-left h1 {
        padding: 0;
        line-height: 1.3;
        margin-bottom: 15px!important;
    }
    .itau-box .div-left {
        margin-left: 60px;
    }
    .hipercard-box .div-left {
        margin-left: 100px;
    }
    .itau-btn {
        width: 100%!important;
    }
    .itau-authentication-txt {
        margin-bottom: 5px;
    }
    fieldset {
        position: relative;
    }
    .icon-lock-hiper.icon-lock {
        position: absolute;
        top: 31px;
        left: 15px;
        color: #000;
    }

    /*CARD ITAU*/
    .card-block .inner-wrap {
        min-height: 400px;
    }
    .carousel-card .box-authentication {
        margin-top: 0;
        top: 230px;
        left: 0;
        width: 100%;
        padding: 16px 25px;
    }
    .carousel-card .itau-authentication-txt {
        line-height: 1.3;
    }
    .card-block .pagination-wrap {
        position: absolute;
        top: 225px;
    }
    .card-block .itau-box .div-left {
        margin-left: 70px;
    }
}
