.steps-box {
	background: #f1f1f1;
	-webkit-box-shadow: 0 0 2px #B3B3B3;
	box-shadow: 0 0 5px #B3B3B3;
	margin: 8px 8px 20px 0px;
	min-height: 105px;
	padding: .6em 1.2em;
	width: 100%;
}

.steps-box.active {
	border-top: 1px solid #FF7800;
}

.steps-title {
	float: left;
}
.link-steps {
	float: right;
	color: #000;
	text-decoration: underline;
	font-size: .7em;
}
.steps-header {
	width: 100%;
	height: 30px;
}
.steps-content {
	color: #000;
}
.steps-content > p {
	margin: 5px 0 0;
}
.steps-content > img {
	float: left;
	margin-right: 15px;
}
