@import "jeet/index";

@include edit();

section, header {
	@include center(1140px);
}
nav {
  .link {
    float: left;
    margin: 0 10px;
    background-color: #fff;
  }
}
header {
  background-color: orangered;
}

article {
  @include col(.70);
  background-color: red;
  box-sizing: border-box;
}
aside {
  @include col(.30);
  background-color: darkgreen;
  padding: 10px;
  box-sizing: border-box;
}
