<!DOCTYPE html>
<html>
	<head>
		<title>card-checkout</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../base.css">
		<link rel="stylesheet" type="text/css" href="../../elements/titles/titles.css">
		<link rel="stylesheet" type="text/css" href="../../elements/titles/subtitle2.css">
		<link rel="stylesheet" type="text/css" href="card-checkout.css">
	</head>
	<body>
		<div class="left">
			<span class="img-card"></span>
		</div>
		<div class="left div-margin div-card-checkout">
			<p>
				<span class="spn-card-checkout">final: <strong>1234</strong></span>
				<br>
				vencimento: <strong>dd/aa</strong>
			</p>
			<p>
				limite disponível:
				<br>
				<strong>R$ 1.000,00</strong>
			</p>
		</div>
	</body>
</html>