<!DOCTYPE html>
<html>
	<head>
		<title>buttons</title>
        <link rel="stylesheet" type="text/css" href="../../base.css">
		<link rel="stylesheet" type="text/css" href="selects.css">
	</head>

	<body>
		<select>
			<option value="0" selected>selecione o número de parcelas</option>
			<option value="1">1x 200 (sem juros)</option>
			<option value="2">2x 101,99</option>
			<option value="3">3x 101,99</option>
			<option value="4">4x 101,99</option>
			<option value="5">5x 101,99</option>
		</select>
	</body>
</html>