.img-error {
    background: url(../../../images/error.png);
    width: 740px;
    height: 46px;
    display: block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.div-error {
    text-align: center;
    margin-top: 150px;
}

.div-error h1 {
	font-size: 16px;
}

.div-error span {
    font-size: 12px;
}

.btn-margin {
      margin-left: 305px;
      margin-top: 15px;
}

.content-div {
    background: white;
    border-top: 4px solid #ec7404; 
    border-bottom: 4px solid #ec7404; 
    height: 530px;
}
