body {
	background-color: blue;
	display: flex;
	transform: translateX(10px);
}

.grid-item {
	background-color: red;
	height: 100px;
	margin-bottom: 20px;
}

.grid-one {
	width: 100%;
	lost-utility: clearfix;
}

.grid-one div {
	lost-column: 1/2 3;
}
