header {
	margin-bottom: 30px;
	padding: 10px 0;
}

main {
	width: 1170px;
	margin: 0 auto;
}

.column-left {
	width: 70%;
	float: left;
}
.column-right {
	width: 25%;
	float: left;
	margin-left: 40px;
}
.link-ancor {
	text-decoration: none;
	display: block;
	font-size: 14px;
}
h1 {
	font-size: 36px;
}
.center {
	text-align: center;
	margin: 10px 0;
}
nav {
	width: 300px;
	background-color: rgb(250, 250, 250);
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #FF7800;
}
.nav-item:first-child {
	border-top: none;
}
.nav-item {
	padding: 10px;
	border-top: 1px solid #ccc;
}
.example-container {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.example-code {

}

.title-example {
	margin-bottom: 20px;
}
pre {
	max-width: 832px;
	white-space: pre-wrap;
	overflow: hidden;
	border: none;
}
.tag {
	color: #2f6f9f;
}
.title {
	
}
.attribute {
	color: #4f9fcf;
}
.value {

}
