@font-face {
	font-family: "icons";
	src: url("../../../fonts/icons.eot");
	src: url("../../../fonts/icons.eot?#iefix") format("embedded-opentype"),
			 url("../../../fonts/icons.woff") format("woff"),
			 url("../../../fonts/icons.ttf") format("truetype"),
			 url("../../../fonts/icons.svg#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "icons";
		src: url("./icons.svg#icons") format("svg");
	}
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-back:before,
.icon-card:before,
.icon-cart:before,
.icon-cpf:before,
.icon-date:before,
.icon-email:before,
.icon-help:before,
.icon-home:before,
.icon-keys:before,
.icon-lock:before,
.icon-mphone:before,
.icon-name:before,
.icon-phone:before,
.icon-status-analysis:before,
.icon-status-approved:before,
.icon-status-not-approved:before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.icon-back,
.icon-cart {
	color: #FF7800;
}

.icon-card,
.icon-cpf,
.icon-date,
.icon-email,
.icon-help,
.icon-home,
.icon-keys,
.icon-lock,
.icon-mphone,
.icon-name,
.icon-phone {
	color: #575758;
}

.icon-back:before { content: "\f100";}
.icon-card:before { content: "\f101";}
.icon-cart:before { content: "\f102";}
.icon-cpf:before { content: "\f103"; }
.icon-date:before { content: "\f104"; }
.icon-email:before { content: "\f105"; }
.icon-help:before { content: "\f106"; }
.icon-home:before { content: "\f107"; }
.icon-keys:before { content: "\f108"; }
.icon-lock:before { content: "\f109"; }
.icon-mphone:before { content: "\f10a"; }
.icon-name:before { content: "\f10b"; }
.icon-phone:before { content: "\f10c"; }
.icon-status-analysis:before { content: "\f10d"; }
.icon-status-approved:before { content: "\f10e"; }
.icon-status-not-approved:before { content: "\f10f"; }

.icon-error {
	color: #F34235;
	width: 50px;
	z-index: 1;
	animation: iconError linear 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: iconError linear 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: iconError linear 1s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: iconError linear 1s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: iconError linear 1s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}

@keyframes iconError {
	0%   { transform:  translate(2px,0px);  }
	10%  { transform:  translate(-2px,0px); }
	20%  { transform:  translate(2px,0px);  }
	30%  { transform:  translate(-2px,0px); }
	40%  { transform:  translate(2px,0px);  }
	50%  { transform:  translate(-2px,0px); }
	60%  { transform:  translate(2px,0px);  }
	70%  { transform:  translate(-2px,0px); }
	80%  { transform:  translate(2px,0px);  }
	90%  { transform:  translate(-2px,0px); }
	100% { transform:  translate(2px,0px);  }
}

@-moz-keyframes iconError {
	0%   { -moz-transform:  translate(2px,0px);  }
	10%  { -moz-transform:  translate(-2px,0px); }
	20%  { -moz-transform:  translate(2px,0px);  }
	30%  { -moz-transform:  translate(-2px,0px); }
	40%  { -moz-transform:  translate(2px,0px);  }
	50%  { -moz-transform:  translate(-2px,0px); }
	60%  { -moz-transform:  translate(2px,0px);  }
	70%  { -moz-transform:  translate(-2px,0px); }
	80%  { -moz-transform:  translate(2px,0px);  }
	90%  { -moz-transform:  translate(-2px,0px); }
	100% { -moz-transform:  translate(2px,0px);  }
}

@-webkit-keyframes iconError {
	0%   { -webkit-transform:  translate(2px,0px);  }
	10%  { -webkit-transform:  translate(-2px,0px); }
	20%  { -webkit-transform:  translate(2px,0px);  }
	30%  { -webkit-transform:  translate(-2px,0px); }
	40%  { -webkit-transform:  translate(2px,0px);  }
	50%  { -webkit-transform:  translate(-2px,0px); }
	60%  { -webkit-transform:  translate(2px,0px);  }
	70%  { -webkit-transform:  translate(-2px,0px); }
	80%  { -webkit-transform:  translate(2px,0px);  }
	90%  { -webkit-transform:  translate(-2px,0px); }
	100% { -webkit-transform:  translate(2px,0px);  }
}

@-o-keyframes iconError {
	0%   { -o-transform:  translate(2px,0px);  }
	10%  { -o-transform:  translate(-2px,0px); }
	20%  { -o-transform:  translate(2px,0px);  }
	30%  { -o-transform:  translate(-2px,0px); }
	40%  { -o-transform:  translate(2px,0px);  }
	50%  { -o-transform:  translate(-2px,0px); }
	60%  { -o-transform:  translate(2px,0px);  }
	70%  { -o-transform:  translate(-2px,0px); }
	80%  { -o-transform:  translate(2px,0px);  }
	90%  { -o-transform:  translate(-2px,0px); }
	100% { -o-transform:  translate(2px,0px);  }
}

@-ms-keyframes iconError {
	0%   { -ms-transform:  translate(2px,0px);  }
	10%  { -ms-transform:  translate(-2px,0px); }
	20%  { -ms-transform:  translate(2px,0px);  }
	30%  { -ms-transform:  translate(-2px,0px); }
	40%  { -ms-transform:  translate(2px,0px);  }
	50%  { -ms-transform:  translate(-2px,0px); }
	60%  { -ms-transform:  translate(2px,0px);  }
	70%  { -ms-transform:  translate(-2px,0px); }
	80%  { -ms-transform:  translate(2px,0px);  }
	90%  { -ms-transform:  translate(-2px,0px); }
	100% { -ms-transform:  translate(2px,0px);  }
}


.icon-rede {
	background: url('../../../images/img-elements@2x.png');
	background-position: -184px -7px;
	background-size: 380px 380px;
	width: 118px;
	height: 40px;
	display: block;
}

.lt-ie9 .icon-rede {
	background: url('../../../images/img-elements.png');
	background-position: -184px -7px;
	background-size: 380px 380px;
	width: 118px;
	height: 40px;
	display: block;
}

.icon-mastercard {
	background: url('../../../images/icon-brand-mastercard.png') no-repeat right 15px;
}
.icon-visa {
	background: url('../../../images/icon-brand-visa.png') no-repeat right 15px;
}
.icon-hipercard {
	background: url('../../../images/icon-brand-hipercard.png') no-repeat right 15px;
}
.icon-hiper {
	background: url('../../../images/icon-brand-hiper.png') no-repeat right 15px;
}
.icon-diners {
	background: url('../../../images/icon-brand-diners.png') no-repeat right 15px;
}

.icon-help-cvv {
	background: url('../../../images/icon-help-cvv.png') no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 28px;
	left: 38px;
	cursor: pointer;
}
