<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8">
	<title>Test Form</title>
	<style>
		input {
			width: 100%;
			height: 25px;
			padding: 5px;
			box-sizing: border-box;
			margin: 5px 0;
		}
		.input-form.ng-valid {
			border: 2px solid green;
		}
		.input-form.ng-dirty.ng-invalid-required {
			border: 2px solid red;
		}
		.input-form.ng-dirty.ng-invalid-minlength {
			border: 2px solid lightpink;
		}
		.hide {
			display: none!important;
		}
	</style>
</head>
<body ng-controller="MainCtrl as ctrl">

	<form ng-submit="ctrl.submit()" name="myForm">
		<div>
			<input class="input-form" type="text" placeholder="Email" ng-model="ctrl.user.emailCpf" name="email" ng-blur="ctrl.isCpfEmail()" required>
		</div>
		<div class="" ng-show="ctrl.steps.name">
			<input class="input-form" type="text" placeholder="Nome" ng-model="ctrl.user.nome" name="name" required ng-minlength="4">
			<span ng-show="myForm.uname.$error.required">This is a required field</span>
			<span ng-show="myForm.uname.$error.minlength">Minimum length required is 4</span>
			<span ng-show="myForm.uname.$invalid">This is a required field</span>
		</div>

		<div class="" ng-show="ctrl.steps.cpf">
			<input class="input-form" type="text" placeholder="CPF" ng-model="ctrl.user.cpf" name="cpf" required>
		</div>

		<div class="" ng-show="ctrl.steps.pwd">
			<input class="input-form" type="password" placeholder="Senha" ng-model="ctrl.user.pwd" name="pwd" required>
		</div>

		<input type="submit" value="Submit" ng-disabled="myForm.$invalid">
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

	<script>
	angular.module('testApp', [])
		.controller('MainCtrl', ['$scope', function ($scope) {
			var self = this;

			self.steps = {
				name: false,
				cpf: false,
				pwd: false,
				hideCpfEmail: true,
				hideEmailAux: false,
				hideName: false,
				hideMobilePhone: false,
				hideStayConnected: false,
				hideBackStore: false,
				hideForgetPassword: false
			};

			// funcao que vai no service e verifica e se o email ou cpf existe.
			// Se o email existir mostra o campo de senha, se nao mostra os campos para cadastro
			// Se o cpf existir mostra o campo de senha, se nao mostra os campos para cadastro
			self.isCpfEmail = function() {

				if(self.user.emailCpf === '12345678901' || self.user.emailCpf === 'test@test.com') {
					self.steps.pwd = true;
				}else{
					isEnableinput();
				}
			}
					self.isEnableinput = function() {
						console.log('Enable Campos');
					}		

			self.submit = function() {
				console.log('teste', self.user);
			}
		}])
	</script>
</body>
</html>
