<!DOCTYPE html>
<html>
	<head>
		<title>cart</title>
		<link rel="stylesheet" type="text/css" href="../../base.css">
		<link rel="stylesheet" type="text/css" href="cart.css">
		<link rel="stylesheet" type="text/css" href="../../elements/notifications/notifications.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../elements/icons/icons.css" />
	</head>

	<body>
		<a class="cart">
			<i class="icon-cart"></i>
			<span class="cart-notification notification-circle notification-pulse">9</span>
			<p class="cart-value">R$ 999,99</p>
		</a>
	</body>
</html>
