.cart {
	cursor: pointer;
	display: block;
	height: 60px;
	margin: 36px 30px 0 0;
	padding: 10px;
	position: absolute;
  	right: 0;
	text-decoration: none;
	width: 60px;
}

.icon-cart {
	font-size: 34px;
	color: #FF7800;
}

.cart-notification {
	top: -45px;
	left: 40px;
}

.cart-value {
	position:relative;
	top:-0.5em;
	left:-3em;
	margin:0;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	width: 107px;
	text-align: center;
}
.cart-details {
	position: absolute;
	right: 25px;
	top: 105px;
	background-color: #f7f7f7;
	padding: 10px 20px;
	width: 290px;
	box-shadow: 0px 0px 5px #ADADAD;
	height: 400px;
}
.cart-details:after {
	content: "";
	display: block;
	position: absolute;
	top: -25px;
	right: 10px;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid rgb(247, 247, 247);
	display: none;
}

.cart-details button {
	background: none;
	border: none;
	font-size: 14px;
	float: right;
}
.link-cart-upload {
	margin-top: 45px;
	float: right;
	margin-right: -12px;
}
.cart-details table {
	width: 250px;
  	height: 200px;
  	display: block;
}
.table-height {
	overflow-y: scroll;
	height: 200px;
	float: left;
}
.table-head {
	color: #FF7800;
	font-size: 12px;
}
.item-table-head {
	display: block;
	margin-top: 20px;
	float: left;
}
.cart-details .item-product{
	text-align: left;
	width: 120px;
	padding: 0 0 10px 0;
}
.cart-details td {
	font-size: 12px;
  	padding: 10px 0;
  	text-align: center;
  	width: 35px;
}
.cart-details td:first-child {
	text-align: left;
}

.column-product {
	display: block;
  	width: 120px!important;
	word-break: break-all;
}
.column-valor {
	width: 90px!important;
  	text-align: right!important;
}
.row-product {
	border-top: 1px solid #eee;
}
.title-frete {
	font-size: 12px;
  	color: #FF7800;
  	display: block;
  	float: left;
}
.valor-frete {
	float: right;
	font-weight: bold;
  	font-size: 12px;
    margin-right: 7px;
}
.item-quant {
	width: 70px;
}
.row-frente {
	border-top: 1px solid #eee;
	padding: 10px 0px;
	float: left;
  	width: 100%;
}
.row-total {
	border-top: 2px solid #bdbdbd;
	width: 100%;
  	float: left;
  	padding: 10px 0;
  	font-size: 14px;
  	font-weight: bold;
}
.valor-total {
	float: right;
}

