<!DOCTYPE html>
<html>
	<head>
		<title>checkbox</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../reset.css">
		<link rel="stylesheet" type="text/css" href="../../base.css">
		<link rel="stylesheet" type="text/css" href="checkbox.css">
	</head>
	<body>

		<div class="checkbox">
			<div class="checkbox-left">
				<input type="checkbox" id="checkbox" class="checkbox">
				<label for="checkbox"></label>
			</div>
			<span class="checkbox-right">declaro que li e <a href="#">aceito os termos e condições</a></span>
		</div>

		<br>
		<div class="checkbox-toggle">
			<span class="checkbox-toggle-left">manter-me conectado</span>
			<div class="checkbox-toggle-right">
				<input type="checkbox" class="toggle"  id="ckb-connected-login">
				<label for="ckb-connected-login"></label>
			</div>
		</div>
	</body>
</html>


