label.label-animation
{
	opacity: 0;
	/*opacity: 1\9\0;*/
	position: relative;
	z-index: -1;
	top: 30px;
	font-size: 14px;
	font-weight: normal;
	color: #B9B8B8;
}

label.active
{
	top: 9px;
	opacity: 1;
	z-index: 1;
	font-size: 9px;
	color: #222222;
	font-weight: bold;
}