/*doc
---
title: Buttons
name: button
category: Elements
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btn-primary">Click</button>
<a class="btn btn-primary" href="#">Don't click</a>

<button class="btn btn-secondary">Click</button>
<button class="btn btn-disabled">Click</button>

```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

##Button Sizes
There are three 3 sizes for buttons: Large, medium (default)
and small. Simply apply the size modifier class for the desired size.
There is also an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Button                                                            | Modifier Class
----------------------------------------------------------------- | -----------------
<button class="btn btn-primary">Primary</button>                  | `btn btn-primary`
<button class="btn btn-secondary">Secundary</button>              | `btn btn-secondary`
<button class="btn btn-disabled">Disabled</button>                | `btn btn-disabled`

*/

input[type="button"],
input[type="submit"],
.btn {
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 13px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0.8em 1em;
    display: inline-block;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type="button"]:active,
input[type="submit"]:active,
.btn:active {
    box-shadow: 0 0 #ab3c3c;
    top: 4px;
}

input[type="button"]:focus,
input[type="submit"]:focus,
.btn:focus {
    outline: none;
}

input[type="button"].btn-primary,
input[type="submit"].btn-primary,
.btn-primary {
    color: #222222;
    background: #FFC807;
    box-shadow: 0 4px #E6B00F;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type="button"].btn-primary:active,
input[type="submit"].btn-primary:active,
.btn-primary:active {
    box-shadow: 0 0 #E6B00F;
    top: 4px;
}

/* secondary */
input[type="button"].btn-secondary,
input[type="submit"].btn-secondary,
.btn-secondary{
    color: #FFFFFF!important;
    background: #575758;
    box-shadow: 0 4px #222222;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type="button"].btn-secondary:active,
input[type="submit"].btn-secondary:active,
.btn-secondary:active{
    box-shadow: 0 0 #E6B00F;
    top: 4px;
}

/* disabled */
input[type="button"].btn-disabled,
input[type="submit"].btn-disabled,
.btn-disabled{
    color: #B9B8B8;
    background: #DDDDDD;
    box-shadow: 0 4px #B9B8B8;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-appearance: none;
	-webkit-border-radius: 0;
}

a.btn {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
}

a.btn:active {
    /*border-top-color: #FF7800;*/
}

.btn-small {
    width: 120px;
}

.btn-medium {
    width: 180px;
}

.btn-large {
    width: 250px;
}
.margin-left-small {
    margin-left: 15px;
}
.margin-bottom-small {
    margin-bottom: 15px;
}

/******************************************
* MOBILE CSS
*******************************************/

@media screen and (max-width: 739px) {
    a.btn {
        font-size: 14px;
    }
}
